<style type="text/css">
	* {
		margin: 0;
		padding: 0;
	}
	ul {
		list-style: none;
	}
	body {
		text-align: center;
		height: auto;
	}
	.container{
		text-align: center;
		height: 650px;
		margin: 0;
		padding: 0;
		width: auto;
		
		
	}
	body > div.navbar-inverse {
		text-align: center ;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		min-height: 140px;
		border-color: #b7b6b6;
		z-index: 100;
		position: fixed;
		margin-bottom: 0;
		background-image: -webkit-linear-gradient(top,#fff6cc 0,#fff6cc 100%);
		background-image: -o-linear-gradient(top,#3c3c3c 0,#fff6cc 100%);
		background-image: -webkit-gradient(linear,left top,left bottom,from(#fff6cc),to(#fff6cc));
		background-color: #fff6cc ;
		/* background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);     color: #9d9d9d; */
		
	}

	.list-inline{
		width: 100%;
		height: 30px;
		color: #f0ad4e;
		border-bottom: 1px dotted #f5eab6;
	}
	.list-inline > li > a{
		
		font-weight: bold;
		background-color: #fff6cc ;
		
	}

	.list-inline > li > ul.sub > li > a{

		color: #9d9d9d ;
	}
	.list-inline > li > ul.sub > li > a:hover {
		text-decoration: none;
		font-weight: bold;
	}
	.list-inline > li {
		
		height: 30px;
		
	}
	
	.navbar-collapse {
		height: 30px ;

		border-top: 1px solid #f5eab6;
		
	}
	.navbar-collapse > ul > li {
		font-size: 11px;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border-color: #f5eab6;

	}
	.depth2{
		height: 70px;
		width: 100%;
		z-index:50;
	}
	#depth2{
		background-color: rgba(255, 246, 204, 0.8);
	}
	.collapse.in {
		min-height: 300px;	
		background-color: #fff6cc ;
	}
	.navbar-collapse.in {
		overflow-y: hidden;
	}
	.collapse.in > .list-inline > li > a{
		padding: 0;
	}
	@media (min-width: 768px){
		.navbar-nav>li>a {
			padding: 0;
		}
	}
	@media (min-width: 992px){
		.navbar-nav>li>a {
			padding-top: 5px;
			padding-bottom: 5px;
		}
		
		.nav>li>a {
			position: relative;
			display: block;
			padding: 5px 5px;
		}
	}
	@media (min-width: 992px) and (max-width: 1100px) {
		
	}
	.sub {
		margin: 0;
		padding: 10px;
		overflow-y: hidden;
		z-index:50;
		padding-right: 0;
		padding-left: 0;
	}
	.form-group {
		padding: 0px;
		height: 22px;
		width: 150px;
		margin: 1px;
		margin-right: 150px;
	}
	.form-control{
		height: 20px;
		padding: 3px 3px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;		    
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	.btn {
		display: block;
		padding: 3px 3px;
		margin : 2px;
		font-size: 12px;
		font-weight: 200;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
		width: 61px;
		height: 22px;
	}
	#logo{
		text-align: center;
		background-color: #fff6cc;
		padding: 0;

	}
	.name{
		margin: auto;
	}
	#background1{
		background: url(../img/main1.jpg) ;
		background-size: 100% 100%;
	}
	#background2{
		background: url(../img/main2.jpg) ;
		background-size: 100% 100%;
	}
	#background3{
		background: url(../img/main3.jpg) ;
		background-size: 100% 100%;
	}
	/**캐러셀의 반응형 기능*/
	@media (min-width: 768px) {
		.featurette-heading{
			font-size: 50px;
		}
	}
	@media (min-width: 992px) {
		.featurette-heading{
			margin-top: 120px;
		}
	}
	div.carousel-inner > div.item {
		height: 100%;
		width : 100%;
		margin-top: 140px;

	}
	div.carousel-inner > div.item > div.container {
		padding: 0;
	}
	div.footer{

		width: 100%;
		height: 280px;
		background: url(../img/footerBack.gif) center top repeat;
		margin-top: inherit;
		overflow: hidden;

	}
	.family_site {
		width: 100%;
		height: 67px;
		border-top: 1px solid #cac0b6;
	}
	.footerWrap {
		height: 100%;
		background-color: #5f5353;
	}

</style>