<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 김양수 -->
 
<mapper namespace="MemberMapper">
	<resultMap id="member" type="project.jsp.bakery.model.Member">
		<result property="id" column="id"/>
		<result property="mem_name" column="mem_name"/>
		<result property="mem_id" column="mem_id"/>
		<result property="mem_pw" column="mem_pw"/>
		<result property="email" column="email"/>
		<result property="phone_no" column="phone_no"/>
		<result property="birthdate" column="birthdate"/>
		<result property="postcode" column="postcode"/>
		<result property="addr1" column="addr1"/>
		<result property="addr2" column="addr2"/>
		<result property="classify" column="classify"/>
		<result property="gender" column="gender"/>
		<result property="reg_date" column="reg_date"/>
		<result property="edit_date" column="edit_date"/>
	</resultMap>

	<!-- 아이디와 비밀번호가 일치하는 회원정보를 조회한다.//관리자 로그인//아이디 비번이 맞고 회원분류가 1일경우-->
	<select id="selectLoginInfo" parameterType="project.jsp.bakery.model.Member"
	resultMap="member">
		select 
			id,mem_name,mem_id,mem_pw,email,classify	from member
			where mem_id=#{mem_id} and mem_pw=password(#{mem_pw})
			order by id desc limit 0,1
	</select>
	
	<!-- 전체 회원 정보를 조회한다 -->
	<select id="selectAllMember" parameterType="project.jsp.bakery.model.Member"
	resultMap="member">
		select * from member(
			mem_name,mem_id, mem_pw,email, phone_no, birthdate, postcode,
			addr1, addr2, gender, reg_date, edit_date)
	</select>
	
	<!-- 회원정보를 삭제한다//탈퇴. -->
	<delete id="deleteMember" parameterType="project.jsp.bakery.model.Member">
		DELETE FROM member WHERE id=#{id};
	</delete>
	
	<!-- 특정 회원의 모든정보 조회 -->
	<!-- 특정 회원의 구매내역  및 문의내역 조회 -->
	
	
	

</mapper>