<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 이 XML의 구조대로 구현될 클래스의 이름 => Impl클래스를 대체한다. -->
<mapper namespace="DocumentMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap type="project.jsp.bakery.model.Document" id="document">
		<result property="id" column="id" />
		<result property="writerName" column="writer_name" />
		<result property="writerPw" column="writer_pw" />
		<result property="subject" column="subject" />
		<result property="content" column="content" />
		<result property="regDate" column="reg_date" />
		<result property="editDate" column="edit_date" />
		<result property="ipAddr" column="ip_addr" />
		<result property="category" column="category" />
		<result property="check" column="check" />
		<result property="memberId" column="Member_id" />
	</resultMap>
	
	<!-- 게시글 정보 저장하기 -->
	<insert id="insertDocument" parameterType="project.jsp.bakery.model.Document"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO document (
			category, writer_name, subject, content, reg_date, edit_date, ip_addr,
			Member_id, writer_pw 
		) VALUE (
			#{category}, #{writerName}, #{subject}, #{content}, now(), now(), #{ipAddr},
			
			<choose>
				<when test="memberId == 0">
					null, password#({writerPw})
				</when>
				<otherwise>
					#{memberId}, #{writerPw}
				</otherwise>
			</choose> 
		)
	</insert>
	
	<!-- 다중행 조회 -->
	<select id="selectDocumentList"
		parameterType="project.jsp.bakery.model.Document"
		resultMap="document">
		SELECT
			category, writer_name, subject, content,
			DATE_FORMAT(reg_date, '%Y-%m-%d') AS reg_date,
			DATE_FORMAT(edit_date, '%Y-%m-%d') AS edit_date,
			ip_addr, Member_id, writer_pw
		FROM document
		ORDER BY id ASC	
	</select>
	
	<!-- 단일행 조회 -->
	<select id="selectDocumentItem"
		parameterType="project.jsp.bakery.model.Document"
		resultMap="document">
		SELECT
			category, writer_name, subject, content,
			DATE_FORMAT(reg_date, '%Y-%m-%d') AS reg_date,
			DATE_FORMAT(edit_date, '%Y-%m-%d') AS edit_date,
			ip_addr, Member_id, writer_pw
		FROM document
		WHERE id=#{id}
	</select>
	
	<!-- 데이터 갱신 -->
	<update id="updateDocumentItem"
		parameterType="project.jsp.bakery.model.Document">
		UPDATE document SET
			category=#{category}, writer_name=#{writerName}, 
			subject=#{subject}, content=#{content}, ip_addr=#{ipAddr},
			edit_date=now()
		WHERE id=#{id}		
	</update>
	
	<!-- 데이터 삭제 -->
	<delete id="deleteDocumentItem"
		parameterType="project.jsp.bakery.model.Document">
		DELETE FROM document WHERE id=#{id}
	</delete>
	
</mapper>