<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 XML의 구조대로 구현될 클래스의 이름 => Impl클래스를 대체한다. -->
<mapper namespace="ProductMapper">
	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap type="project.jsp.bakery.model.Product" id="product">

		<result property="id" column="id" />
		<result property="proClassify" column="pro_classify" />
		<result property="proName" column="pro_name" />
		<result property="proPrice" column="pro_price" />
		<result property="stock" column="stock" />
		<result property="status" column="status" />
		<result property="content" column="content" />
		<result property="kcal" column="kcal" />
		<result property="na" column="na" />
		<result property="sugar" column="sugar" />
		<result property="fat" column="fat" />
		<result property="protein" column="protein" />
		<result property="proImg" column="pro_img" />
		<result property="proEditDate" column="pro_edit_date" />
		<result property="proRegDate" column="pro_reg_date" />
	</resultMap>

	<!-- 제품 저장하기 -->
	<insert id="insertProduct" parameterType="project.jsp.bakery.model.Product"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO product (
		pro_classify, pro_name, pro_price, pro_img, stock, status, content,
		kcal, na, sugar, fat, protein, pro_edit_date, pro_reg_date
		) VALUES (
		#{proClassify}
		,#{proName},#{proPrice},#{proImg},#{stock},#{status},#{content},
		#{kcal},#{na},#{sugar},#{fat},#{protein}, now(), now()
		)
	</insert>

	<!-- 제품 목록을 조회한다. -->
	<select parameterType="project.jsp.bakery.model.Product"
		resultMap="product" id="selectProductList">
		SELECT id, pro_classify, pro_name, pro_price,
		pro_img, stock, status,
		content, kcal, na, sugar, fat, protein

		FROM
		product

		<where>
			<if	test="proClassify != null or proName != null or proPrice > 0 or status != null">
				<if test="proClassify !=null">
					pro_classify LIKE concat('%',#{proClassify}, '%')
				</if>
				<if test="proName !=null">
					OR pro_name LIKE concat('%',#{proName}, '%')
				</if>
				<if test="proPrice > 0">
					OR pro_price between #{proPrice} and #{proPrice}
				</if>
				<if test="status !=null">
					OR status LIKE concat('%',#{status}, '%')
				</if>
			</if>
		</where>

		ORDER BY id DESC
	</select>

	<!-- 제품 하나에 대한 정보를 조회한다. -->
	<select parameterType="project.jsp.bakery.model.Product"
		resultMap="product" id="selectProduct">
		SELECT id, pro_classify, pro_name, pro_price,
		pro_img, stock, status, content, kcal, na, sugar, fat,
		protein,pro_edit_date, pro_reg_date
		FROM product
		WHERE
		id=#{id}
	</select>

	<!-- 전체 제품 수를 조회(카테고리별)한다. -->
	<select parameterType="project.jsp.bakery.model.Product"
		resultType="int" id="selectProductCount">
		SELECT COUNT(id) FROM product
		WHERE
		pro_classify=#{proClassify}
	</select>

	<!-- 제품 삭제하기 -->
	<delete parameterType="project.jsp.bakery.model.Product" id="deleteProduct">
		DELETE FROM product WHERE id=#{id}
	</delete>

	<!-- 제품 정보 수정하기 -->
	<update parameterType="project.jsp.bakery.model.Product" id="updateProduct">
		UPDATE product SET
		pro_classify=#{proClassify},
		pro_name=#{proName},
		pro_price=#{proPrice},
		stock=#{stock},
		status=#{status},
		content=#{content},
		kcal=#{kcal},
		na=#{na},
		sugar=#{sugar},
		fat=#{fat},
		protein=#{protein},
		pro_img=#{proImg},
		pro_edit_date=now()
		WHERE id=#{id}
	</update>
	
	<!-- 제품 정보 수정하기 한기 -->
	<update parameterType="project.jsp.bakery.model.Product" id="updateProductStock">
		UPDATE product SET
		stock=#{stock},
		pro_edit_date=now()
		WHERE pro_name=#{proName}
	</update>
	
	<!-- 제품 하나에 대한 정보를 조회한다. 한기-->
	<select parameterType="project.jsp.bakery.model.Product"
		resultMap="product" id="selectProductOneName">
		SELECT id, pro_classify, pro_name, pro_price,
		pro_img, stock, status, content, kcal, na, sugar, fat,
		protein,pro_edit_date, pro_reg_date
		FROM product
		WHERE
		pro_name=#{proName}
	</select>

</mapper>