<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 XML의 구조대로 구현될 클래스의 이름 => Impl클래스를 대체한다. -->
<mapper namespace="ProductMapper">
	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap type="project.jsp.bakery.model.product" id="product">
		<result property="id" column="id" />
		<result property="pro_classify" column="pro_classify" />
		<result property="pro_name" column="pro_name" />
		<result property="pro_price" column="pro_price" />
		<result property="stock" column="stock" />
		<result property="status" column="status" />
		<result property="content" column="content" />
		<result property="kcal" column="kcal" />
		<result property="na" column="na" />
		<result property="sugar" column="sugar" />
		<result property="fat" column="fat" />
		<result property="protein" column="protein" />
		<result property="pro_img" column="pro_img" />
		<result property="pro_edit_date" column="pro_edit_date" />
		<result property="pro_reg_date" column="pro_reg_date" />
	</resultMap>
</mapper>