<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- MySQL 접속 정보를 지정한다. -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" 
				    value="jdbc:mysql://localhost:3306/mydb?characterEncoding=UTF8" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>

	<!-- 실행할 SQL문을 정의한 Mapper XML의 경로를 지정한다. -->
	<mappers>
		<mapper resource="project/jsp/bakery/dao/mapper/OrderMapper.xml" />
		<mapper resource="project/jsp/bakery/dao/mapper/CartMapper.xml" />
		<mapper resource="project/jsp/bakery/dao/mapper/Document.xml" />
		<mapper resource="project/jsp/bakery/dao/mapper/Comment.xml" />
		<mapper resource="project/jsp/bakery/dao/mapper/CustomMapper.xml" />
	</mappers>
</configuration>

